.icon {
  background-color: var(--color-gray);

  &__success {
    background-color: var(--color-green-light);
    border: 1px solid var(--color-green);
  }

  &__unsuccess {
    background-color: var(--color-red-lighter);
    border: 1px solid var(--color-red-light);
  }
}
