.chipSuccess {
  color: var(--color-green-dark);
  border-color: var(--color-green-dark);
}

.chipUnsuccsess {
  color: var(--color-red-dark);
  border-color: var(--color-red-dark);
}

.counter {
  font-weight: 700;
}
